@media only screen and (max-width: 5555px) {

    #header_logo {
        display: none;
    }
}

@media only screen and (max-width: 1368px) {
    .side_menu_bg.selected {
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }

    #header_logo {
        display: block;
        width: 32px;
        height: 39px;
    }

    #nav_left {
        display: none;
    }

    #nav_right_img {
        display: none;
    }

    #side {
        width: 100%;
        position: fixed;
        top: auto;
        right: 0;
        left: 0;
        z-index: 2;
        padding: 0;
    }

    #side_menu {
        display: flex;
        width: 100%;
        height: 110px;
        justify-content: space-between;
        align-content: center;
    }

    .side_undermenu {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .side_undermenu .addtask_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .summary_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .board_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .contacts_icon_normal {
        margin-right: 0;
    }

    .side_menu_bg {       
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }

    .side_logo {
        display: none;
    }

    #header {
        z-index: 2;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;
    }

    #footer {
        display: none;
    }

    #content {
        position: relative;
        top: 140px;
        scrollbar-width: none;
    }

    #join_logo_white {
        display: none;
    }

    #header_content_position {
        padding-left: 0;
    }
}

@media only screen and (max-width: 950px) {}

@media only screen and (max-width: 750px) {

    #div_body {
        overflow-x: hidden;
    }

    .headline_title {
        font-size: 41px;
    }

    #KMaaG {
        font-size: 16px;
    }

}

@media only screen and (max-width: 650px) {

    #div_body {
        overflow-x: hidden;
    }

    .headline_title {
        font-size: 31px;
    }

    #KMaaG {
        font-size: 16px;
    }
}

@media only screen and (max-width: 550px) {
    /* .headline_title {
        font-size: 31px;
    } */
}

@media only screen and (max-width: 500px) {}

@media (min-width: 320px) and (max-width: 399px) {
    .headline_title {
        font-size: 26px;
    }

    .side_menu_bg {
        width: 25%;
    }

    .side_menu_bg.selected {
        width: 25%;
    }
    #content {
        padding: 8px;
    }
}